* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.back-image {
  backdrop-filter: blur(2px);
}

body {
  font-family: "Source Code Pro", monospace;
  background: url("assets/background.jpg") no-repeat fixed top center;
  background-size: cover;
  display: grid;
  align-items: center;
  justify-items: center;
  height: 100vh;
  color: #aeaeae;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.container {
  padding: 0 16px;
}

body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

body::-webkit-scrollbar-track {
  background: #241e35;
}

body::-webkit-scrollbar-thumb {
  background-color: #3b1936;
  border-radius: 4px;
}

li {
  list-style: none;
}

.title {
  font-size: 36px;
  font-weight: normal;
}

.box1 {
  background: #eee;
  padding: 4rem;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.16);
  border-radius: 25px;
  text-align: center;
  margin: 8rem 0;
}

.profile {
  max-width: 452px;
  box-sizing: border-box;
  margin: 0 auto;
  align-items: center;
  margin-top: 8rem;
}

.profile-pic {
  border-radius: 50%;
  margin: 0 auto 2rem auto;
}

.profile span {
  font-size: 24px;
}

.profile p {
  font-size: 18px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-media li {
  margin-right: 1rem;
  width: 15%;
}

.about {
  font-size: 20px;
  align-items: center;
  justify-items: center;
  margin: 8rem;
}

.about p {
  margin-top: 3rem;
}

.article {
  max-width: 886px;
  box-sizing: border-box;
  margin: 0 auto;
}

.article ul {
  margin-top: 3rem;
}

.article li {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  gap: 1rem;
  color: #606060;
  margin-left: 4.5rem;
}

.article li + li {
  margin-top: 2rem;
}

.article img {
  border-radius: 10px;
}

.article a {
  text-decoration: none;
  color: inherit;
}

.article h1 {
  font-weight: normal;
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
}

.carousel {
  display: grid;
  overflow: hidden;
  width: auto;
  height: auto;
  position: relative;
}

.carousel .carousel__item li a {
  max-width: fit-content;
}

.carousel .carousel__item,
.carousel .carousel__item--hidden {
  display: none;
}

.carousel .carousel__item--visible {
  display: block;
  animation: fadeVisibility 0.5s;
}

.carousel .carousel__item h1 {
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1.5rem;
}

.carousel .carousel__actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
}

.carousel .carousel__actions button {
  border-radius: 50px;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  width: 40px;
  height: 40px;
  color: #fff;
  background-color: #606060;
}

.carousel .carousel__actions button[data-js="carousel__button--prev"] {
  margin-left: 20px;
}

.carousel .carousel__actions button[data-js="carousel__button--next"] {
  margin-right: 20px;
}

@keyframes fadeVisibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: opacity linear;
  }
}

.main {
  display: flex;
  flex-direction: column;
}

.details {
  display: flex;
  gap: 0.4rem;
}

.details img {
  width: 2rem;
  height: 2rem;
  border-radius: 3rem;
}

.detailsDate {
  display: flex;
  flex-direction: column;
}

.detailsDate p,
a {
  font-size: 0.9rem;
}

.user a {
  margin-bottom: 0.5rem;
}

.content {
  font-size: 1.5rem;
}

.copy {
  font-size: 24px;
  color: #eee;
  text-shadow: 2px 2px 16px black;
  margin: 25vh;
  text-align: center;
}

.links {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.links:hover {
  opacity: 0.5;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #241e35;
  width: 100vw;
  height: 6vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}
.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
}

.footer {
  display: flex;
  margin-top: 8rem;
  background: #241e35;
  width: 100vw;
  height: 8vw;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.articleHeader {
  display: grid;
}

.articleHeader img {
  place-self: center;
  width: 50vw;
  /* height: 100rem; */
}

.articleHeaderTop {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #606060;
}

.articleDetails {
  grid-row: 4/5;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.articleDetails a {
  text-decoration: none;
  color: #606060;
}

.articleTimeContainer {
  color: #606060;
}

.articleContainer p {
  color: #000000;
  text-align: justify;
  margin: 1rem;
  line-height: 1.5rem;
}
